.margin-top {
  margin-top: 20px;
}

.jumbotron {
  background-image: url("https://bit.ly/3gUcGER");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
 }

 .container {
   margin-top: 8%;
 }

